# Server
PORT=3000
NODE_ENV=development

# CORS
ALLOWED_ORIGINS=http://localhost:3005,http://localhost:3006,http://localhost:3000,http://localhost:5173

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
BUSINESS_SERVICE_URL=http://localhost:3002
GST_SERVICE_URL=http://localhost:3003
VENDOR_SERVICE_URL=http://localhost:3004
